Repository adriangb/xpresso-gke-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: lockfile, version, requirements.txt, requirements-migrations.txt, isort, black, flake8, mypy

.pre-commit-config.yaml:

exclude: "^.venv/.*|.html"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.0.1"
    hooks:
      - id: trailing-whitespace
        exclude: ^VERSION.txt$
      - id: check-merge-conflict
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.5.1"
    hooks:
      - id: prettier
        name: Run prettier on infra source code
        types_or: [ts, json, yaml]
  - repo: local
    hooks:
      - id: lockfile
        name: Update poetry.lock
        language: system
        entry: poetry lock --no-update
        files: ^pyproject.toml|poetry.lock$
        pass_filenames: false
      - id: version
        name: Update VERSION.txt -> pyproject.toml
        language: system
        entry: bash -c 'cat VERSION.txt | xargs poetry version'
        files: ^pyproject.toml|VERSION.txt$
        pass_filenames: false
      - id: requirements.txt
        name: Export dependencies to app/requirements.txt
        language: system
        entry: poetry export -f requirements.txt --output app/requirements.txt
        files: ^pyproject.toml|poetry.lock|app/requirements.txt$
        pass_filenames: false
      - id: requirements-migrations.txt
        name: Export dependencies to app/requirements-migrations.txt
        language: system
        entry: poetry export -f requirements.txt --extras migrations --output app/requirements-migrations.txt
        files: ^pyproject.toml|poetry.lock|app/requirements-migrations.txt$
        pass_filenames: false
      - id: isort
        name: Run isort on app source code
        language: system
        entry: poetry run isort
        types: [python]
        pass_filenames: true
      - id: black
        name: Run black on app source code
        language: system
        entry: poetry run black
        types: [python]
        pass_filenames: true
      - id: flake8
        name: Run flake8 on app source code
        language: system
        entry: poetry run flake8 --ignore E501
        types: [python]
        pass_filenames: true
      - id: mypy
        name: Run mypy on app source code
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: false

wip on edgedb
  .pre-commit-config.yaml
  Makefile
  VERSION.txt
  app/Dockerfile
  app/README.md
  app/app/config.py
  app/app/db.py
  app/app/dependencies.py
  app/app/lifespan.py
  app/app/logconfig.py
  app/app/main.py
  app/app/py.typed
  app/app/routes.py
  app/requirements.txt
  app/tests/__init__.py
  app/tests/test_health.py
  infra/README.md
  infra/app.ts
  infra/artifact-registry.ts
  infra/cloudsql.ts
  infra/edgedb.ts
  infra/iam.ts
  infra/index.ts
  infra/package-lock.json
  infra/package.json
  infra/tsconfig.json
  poetry.lock
  pyproject.toml
Due: lockfile, version, requirements.txt, requirements-migrations.txt, isort, black, flake8, mypy

fix issues to pass the postman tests
  Makefile
  app/app/db/repositories/comments.py
  app/app/db/repositories/exceptions.py
  app/app/db/repositories/sql/articles/favorite_article.sql
  app/app/db/repositories/sql/articles/get_article.sql
  app/app/db/repositories/sql/articles/search_articles.sql
  app/app/db/repositories/sql/articles/unfavorite_article.sql
  app/app/db/repositories/sql/articles/update_article.sql
  app/app/db/repositories/sql/comments/delete_comment.sql
  app/app/db/repositories/sql/comments/get_comments.sql
  app/app/db/repositories/users.py
  app/app/main.py
  app/app/models/schemas/articles.py
  app/app/routes/__init__.py
  app/app/routes/articles.py
  app/app/routes/feed.py
  app/app/routes/profile.py
  poetry.lock
  pyproject.toml
Due: lockfile, version, requirements.txt, requirements-migrations.txt, isort, black, flake8, mypy

Add note on statefuleness of JWTs
  app/app/services/user.py
Due: isort, black, flake8, mypy

clean up pre-commit hooks
  .pre-commit-config.yaml
Due: none

simplify & clean up
  .pre-commit-config.yaml
  Makefile
  VERSION.txt
  app/.dockerignore
  app/Dockerfile
  app/README.md
  app/VERSION.txt
  app/app/config.py
  app/app/db.py
  app/app/dependencies.py
  app/app/lifespan.py
  app/app/logconfig.py
  app/app/main.py
  app/app/routes.py
  app/requirements.txt
  app/tests/test_health.py
  infra/README.md
  infra/artifact-registry.ts
  infra/db.ts
  infra/index.ts
  infra/package-lock.json
  infra/package.json
  infra/tsconfig.json
  poetry.lock
  pyproject.toml
Due: lockfile, version, requirements.txt, requirements-migrations.txt, isort, black, flake8, mypy

initial commit
  .gitignore
  Dockerfile
  README.md
  app/.dockerignore
  app/.gitignore
  app/Dockerfile
  app/VERSION.txt
  app/app/__init__.py
  app/app/config.py
  app/app/db.py
  app/app/main.py
  app/app/py.typed
  app/app/routes.py
  app/main.py
  app/requirements.txt
  app/tests/__init__.py
  app/tests/test_health.py
  infra/Pulumi.yaml
  infra/README.md
  infra/cluster.ts
  infra/config.ts
  infra/db.ts
  infra/iam.ts
  infra/index.ts
  infra/package-lock.json
  infra/package.json
  poetry.lock
  pyproject.toml
Due: lockfile, version, requirements.txt, requirements-migrations.txt, isort, black, flake8, mypy

fixes
  Dockerfile
  app/main.py
Due: isort, black, flake8, mypy

reduce memory usage and add docstrings to endpoints
  app/main.py
Due: isort, black, flake8, mypy

add benchmark service
  Dockerfile
  app/main.py
  infra/index.ts
Due: isort, black, flake8, mypy

check for errors
  infra/index.ts
Due: none

add missing file
  app/bench.py
Due: isort, black, flake8, mypy

keep cpu under 28
  app/bench.py
  infra/README.md
  infra/index.ts
Due: isort, black, flake8, mypy

finishing touches
  infra/index.ts
Due: none
